## Import the library

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("C:/Users/wwaswa/Desktop/RData/Data.csv")

In [3]:
##check the data format
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
##checking for missing values in the data
missing_value_count = dataset.isnull().sum()

In [5]:
print (missing_value_count)

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64